<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Post</title>
</head>
<body>
    {% for i in posts %}
        <h4><a href="{% url 'post_detail' i.id %}"><h3>{{ i.title }}</h3></a></h4>
        <h4><a href="{% url 'post_edit' i.id %}">Edit post</a></h4>
        <h6><a href="{% url 'post_delete' i.id %}">Delete</a></h6>
    <hr>
    {% endfor %}


     <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>